html.dark,
html.light {
  @apply transition-colors;
}
.c-text {
  @apply text-dark-200
  dark:text-gray-50;
}
.c-text-sub {
  @apply text-dark-50
  dark:text-gray-400;
}
.c-bg-base {
  @apply bg-[#f6f8f9] dark:bg-[#141414];
}
.c-bg-light {
  @apply bg-white
  dark:bg-[#2a2a2a];
}
.c-border {
  @apply border-1 border-gray-200
  dark: border-gray-600;
}
.c-border-top {
  @apply border-t-1 border-gray-200
  dark: border-gray-600;
}
.c-shadow {
  @apply shadow-md shadow
  dark:shadow-none dark:border-dark-100 dark:border-1;
}

.el-menu {
  @apply border-none;
}
